@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color : #DB201F;
    --secondary-color : #CCFC10;

    --black-color : #000000E6;
    --white-color: #FAFEFE;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    color: var(--white-color);
    position: relative;
    user-select: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white-color);
}


button{
    cursor: pointer;
}

section{
    position: relative;
    @media (min-width: 320px) {
        padding: 0 1.5rem;
    }

    @media (min-width: 768px) {
        padding: 0 3rem;
    }

    @media (min-width: 1024px) {
        padding: 0 10rem;
    }

    @media (min-width: 1440px) {
        padding: 0 15rem;
    }
}


nav{
    position: relative;
    z-index: 100 !important;
    .desktop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem 0 2rem;


        .logo-wrapper{
            width: 5rem;
            height: 5rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        ul{
            display: flex;
            gap: 1rem;

            a{
                padding: .1rem .5rem;
            }

            .download{
                background-color: var(--secondary-color);
                color: var(--black-color);
            }
        }
    }

    .mobile{
        position: relative;
        z-index: 100;
        display: none;

        .outer{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem 0 2rem;

            .logo-wrapper{
                width: 5rem;
                height: 5rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            svg{
                padding: 1rem;
                cursor: pointer;
                width: 4rem;
                height: 4rem;
                color: var(--white-color);
            }
        }

        .middle{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: .5);
            display: none;
        }

        .inner{
            transition: all .2s linear;
            position: fixed;
            top: 0;
            right: 100%;

            background-color: var(--white-color);
            height: 100vh;
            width: 40%;

            ul{
                padding-top: 5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                
                a{
                    color: var(--black-color);

                    li{
                        padding: 1rem;
                        transition: all .1s linear;

                        &:hover{
                            background-color: var(--primary-color);
                        }
                    }
                }

                .download{
                    background-color: var(--secondary-color);
                }
            }
        }
    }

        //small navbar
        @media (max-width: 900px){
            .desktop{
                display: none;
            }

            .mobile{
                display: block;
            }
        }
}

.hero{
    position: relative;
    
    .hero-img-wrapper{
        min-width: 90rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            opacity: .2;
        }
    }

    .gradient{
        width: 100%;
        height: 5rem;
        background: linear-gradient(to top, var(--black-color), var(--black-color), var(--black-color), transparent);

        position: absolute;
        left: 0;
        bottom: 0;
    }

    .info{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Sarpanch";
        font-size: 2rem;
        text-align: center;

        .top{
            font-weight: bold;
            background: linear-gradient(to bottom, white, gray);
            -webkit-background-clip: text;
            color: transparent;
            line-height: 3rem;
            font-size: 5rem;
        }

        .bottom{
            color: var(--primary-color);
            letter-spacing: 1rem;
            font-size: 3rem;
        }

        button{
            margin-top: 5rem;
            padding: .7rem 2.5rem;
            font-size: 1rem;
            background-color: transparent;
            border: 2px solid var(--white-color);
            color: var(--white-color);
            font-weight: bold;
        }

        @media (max-width: 500px){
            .top{
                font-size: 4rem;
            }

            .bottom{
                font-size: 2rem;
            }
        }
    }
}

.welcome {
    position: relative;

    .gradient {
        width: 100%;
        height: 5rem;
        background: linear-gradient(to bottom, var(--black-color), var(--black-color), var(--black-color), transparent);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .welcome-img-wrapper {
        position: absolute;
        width: 100%;
        min-width: 90rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .5;
        }
        z-index: 1;
    }

    .top {
        position: relative; 
        z-index: 2;
        width: fit-content;
        margin: 0 auto;
        padding-top: 7rem;
        font-size: 3rem;
        text-align: center;

        span {
            color: var(--primary-color);
        }
    }

    .bottom {
        position: relative; 
        z-index: 2;
        width: fit-content;
        margin: 0 auto;
        font-size: 3rem;
        text-align: center;

        span {
            color: var(--primary-color);
        }
    }

    p {
        position: relative; 
        z-index: 2;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        padding-top: 6rem;
        padding-bottom: 2rem;
        span {
            color: var(--primary-color);
        }
    }

    .show-wrapper {
        position: relative; 
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 2rem;
        width: fit-content;
        flex-wrap: wrap;
        z-index: 2;

        img {
            max-width: 30rem;
        }
    }

    @media (max-width: 1000px){
        .top{
            font-size: 2rem;
        }

        .bottom{
            font-size: 2rem;
        }

        p{
            font-size: 1.1rem;
        }
    }


}

.big-image{
    margin-top: 30rem;

    @media (max-width: 1007px){
        margin-top: 10rem;
    }

    h1{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;

        span{
            color: var(--primary-color);
        }
    }
    .image{
        position: relative;
        .gradient{
            position: absolute;
            background: linear-gradient(tor right, black, transparent);
            z-index: 3;
        }

        .one{
            top: 0;
            left: 0;
            width: 5rem;
            height: 100%;
            background: linear-gradient(to right, var(--black-color), var(--black-color), var(--black-color), transparent);
        }
        .two{
            top: -2rem;
            left: 0;
            width: 100%;
            height: 4rem;
            background: linear-gradient(to bottom, var(--black-color), var(--black-color), var(--black-color), transparent);
        }

        .three{
            top: 0;
            right: 0;
            width: 5rem;
            height: 100%;
            background: linear-gradient(to left, var(--black-color), var(--black-color), var(--black-color), transparent);
        }

        .four{
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5rem;
            background: linear-gradient(to top, var(--black-color), var(--black-color), var(--black-color), transparent);
        }

        img{
            width: 100%;
            margin: 0 auto;
        }
    }    
}

.under-big-image{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;

    span{
        color: var(--primary-color);
    }
}

.update{

    display: flex;
    height: 20rem;
    gap: 1rem;
    flex-wrap: wrap;

    @media (max-width: 700px) {
        flex-direction: column;

        .right{
            display: none;
        }
    }

    .left{
        flex: 5;
        max-width: 30rem;
    }

    .right{
        flex: 2;
        position: relative;
        overflow: hidden;

        .gradient{
            position: absolute;
            background: linear-gradient(tor right, black, transparent);
            z-index: 3;
        }

        .one{
            top: 0;
            left: 0;
            width: 2rem;
            height: 100%;
            background: linear-gradient(to right, var(--black-color), var(--black-color), var(--black-color), transparent);
        }
        .two{
            top: -2rem;
            left: 0;
            width: 100%;
            height: 3rem;
            background: linear-gradient(to bottom, var(--black-color), var(--black-color), var(--black-color), transparent);
        }

        .three{
            top: 0;
            right: 0;
            width: 2rem;
            height: 100%;
            background: linear-gradient(to left, var(--black-color), var(--black-color), var(--black-color), transparent);
        }

        .four{
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3rem;
            background: linear-gradient(to top, var(--black-color), var(--black-color), var(--black-color), transparent);
        }

        img{
            height: 100%;
            width: 100%;
            max-height: 40rem;
            object-fit: cover;
        }
    }

    h1{
        font-size: 2rem;
        text-transform: uppercase;
    }

    .update-h1{
        border-bottom: 5px solid var(--primary-color);
        width: fit-content ;
        margin-bottom: 2rem;
    }

    .south{
        background-color: var(--white-color);
        width: fit-content;
        color: var(--black-color);
        padding: .5rem;
        margin-bottom: 1rem;
    }

    .maxwin{
        background-color: var(--primary-color);
        width: fit-content;
        color: var(--black-color);
        padding: .5rem;
        margin-bottom: 1rem;
    }

    p{
        text-transform: uppercase;
        font-weight: bold;

        span{
            color: var(--primary-color);
        }
    }

    .button-group{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        button{
            width: 100%;
            font-size: 2rem;
            text-transform: uppercase;
            text-wrap: nowrap;
            padding: .5rem;
            font-weight: bold;
            cursor: pointer;
            border: none;
        }

        .download{
            background-color: var(--secondary-color);
        }

        .learn{
            background-color: var(--white-color);
        }

    }
}
.footer-gallery{
    margin-top: 20rem;
}

footer{
    margin-top: 30rem;
    
    .social{
        h1{
            color: var(--white-color);
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;
            margin-bottom: 2rem;
            border-bottom: 5px solid var(--white-color);
            padding-bottom: 2rem;
            svg{
                width: 3rem;
                height: 3rem;
                color: var(--white-color) !important;
                path{
                    color: var(--white-color) !important;
                }
            }
        }
    }

    .logo{
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 1rem;
        flex-wrap: wrap;

        img{
            aspect-ratio: 16/9;
            max-width: 10rem
        }
    }

    section{
        p{
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    .legal{
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;


        p{
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 2rem;
            text-align: center;
            text-wrap: none;
            border: 2px solid var(--white-color);
            padding: 1rem;
        }
    }
}

.hero-gallery{

    position: relative;
    
    .hero-img-wrapper{
        min-width: 90rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            opacity: .6;
        }
    }

    .gradient{
        width: 100%;
        height: 5rem;
        background: linear-gradient(to top, var(--black-color), var(--black-color), var(--black-color), transparent);

        position: absolute;
        left: 0;
        bottom: 0;
    }

    .info{
        position: absolute;
        top: 15rem;
        left: 2rem;
        font-family: "Sarpanch";
        font-size: 2rem;

        .top{
            font-weight: bold;
            background: linear-gradient(to bottom, white, gray);
            -webkit-background-clip: text;
            color: transparent;
            line-height: 4rem;
            font-size: 3rem;
            text-wrap: nowrap;
        }

        .bottom{
            color: var(--primary-color);
            letter-spacing: 1rem;
            font-size: 4rem;
        }


        button{
            margin-top: 5rem;
            padding: .7rem 2.5rem;
            font-size: 1rem;
            background-color: transparent;
            border: 2px solid var(--white-color);
            color: var(--white-color);
            font-weight: bold;
        }

        h2{
            text-align: start;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            margin-top: 8rem;
        }

        @media (max-width: 500px){

            .top{
                font-size: 3rem;
            }
            .bottom{
                font-size: 3rem;
            }
        } 

    }
        .car-img{
            position: absolute;
            top: 40rem;
            max-width: 100%;
            padding: 2rem;
        }
}

.top-gallery-section{
    text-transform: uppercase;
    margin-top: 10rem;

    .top{
        background-color: var(--white-color);
        color: var(--black-color);
        width: fit-content;
        padding: .5rem;
        margin-bottom: 1rem;
    }

    .bottom{
        background-color: var(--primary-color);
        color: var(--black-color);
        width: fit-content;
        padding: .5rem;
        margin-bottom: 1rem;
    }
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  
    .left, .right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover {
        background-color: var(--primary-color);
      }
    }
  
    .left {
      left: 10px;
    }
  
    .right {
      right: 10px;
    }

    .title{
        text-transform: uppercase;
        background-color: var(--white-color);
        color: var(--black-color);
        width: fit-content;
        padding: .5rem;
        font-size: 1.2rem;
    }
  
    .carousel-item-container {
      display: flex;
      transition: transform 0.5s ease;
      margin-top: 6rem;
      margin-bottom: 10rem;
      gap: 1rem;
    }
  
    .carousel-item {
      transition: transform 0.5s ease, opacity 0.5s ease;
      min-width: 80%;
      max-width: 80%;
  
      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
      
      &.center {
        transform: scale(1.1); 
      }
      
      &:not(.center) {
        opacity: 0.7; 
        transform: scale(0.9);
      }
    }
  }


  .hero-news{
    .info{
        top: 10rem;
    }
    .bottom-text{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: "Poppins", sans-serif;
        text-transform:uppercase ;
        font-size: 1.5rem;

        span{
            color: var(--primary-color);
        }
    }

    .flex-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;

        .img-wrapper{
            min-width: 30rem;


            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @media (max-width: 920px){
                display: none;
            } 
        }

        p{
            font-size: 1rem;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            font-weight: bold;
        }

        .info-3{
            max-width: 40rem;
        }

        .info-4{
            display: flex;
            justify-content: space-between;
        }

        .gradient-news{
            height: 10rem;
            bottom: -14.5rem;
            left: -12rem;
            width: 200%;
        }


    }
  }
  .another-news {
    padding: 20px;
  
    h1 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
  
      .news-container {
        width: calc(33.333% - 2 * 20px);
        min-width: 23rem;
        background-color: #000;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
  
        .card {
          background-color: #000;
          position: relative;
  
          .img-container {
            overflow: hidden;
  
            img {
              width: 100%;
              height: auto;
              display: block;
              transition: transform 0.3s ease;
            }
          }
  
          h3, p {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            margin: 0;
            transition: opacity 0.3s ease;
            opacity: 0;
            padding: 20px;
          }
  
          h3 {
            top: 20px;
            background: none;
            color: #fff;
            font-size: 1.5em;
            text-align: center;
          }
  
          p {
            top: calc(1.5em + 2 * 20px);
            color: #fff;
            font-size: .8rem;

            @media(min-width: 1450px){
                font-size: 1rem;
            }
          }
  
          &:hover h3,
          &:hover p {
            opacity: 1;
          }
  
          &:hover .img-container img {
            transform: scale(1.1);
            opacity: 0.5;
          }
        }
  
        .title {
          text-align: center;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: bold;
        }
  
        .info {
          display: flex;
          justify-content: space-between;
  
          p {
            margin: 0;
            text-align: center;
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: bold;
  
            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .flex-container {
      .news-container {
        width: calc(50% - 2 * 20px);
      }
    }
  }
  
  @media (max-width: 480px) {
    .flex-container {
      .news-container {
        width: 100%;
      }
    }
  }

  .esport-vid{
    z-index: 1;
    position: relative;
    margin-top: 8rem;

    video{

        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }

  .tilte-asphalt{
    margin-top: 10rem;
    align-items: center;
    text-align: center;
    font-family: "Sarpanch";
    font-size: 2.5rem;
    background: linear-gradient(to bottom, white, gray);
    -webkit-background-clip: text;
    color: transparent;

    span{
        color: var(--primary-color);
    }
}
  .asphalt-esport{
    position: relative;
    z-index: 1;


    .hero-img-wrapper{
        min-width: 90rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            opacity: .8;
        }
    }


    .left{
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 2rem;
        font-weight: bold;

        .top{
            position: relative;
            width: 10rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 3rem;
            background-color: var(--black-color);
            color: var(--white-color);
            text-align: end;
            margin-bottom: 1rem;



        }

        
        .mid{
            position: relative;
            width: 20rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 3rem;
            background-color: var(--white-color);
            color: var(--black-color);
            text-align: end;
            margin-bottom: 1rem;

        }

        
        .bot{
            position: relative;
            width: 30rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 3rem;
            background-color: var(--black-color);
            color: var(--white-color);
            text-align: end;
            margin-bottom: 1rem;

        }
    }

    .right{
        position: absolute;
        top: 50%;
        right: 0;

        font-size: 2rem;
        font-weight: bold;

        .top{
            position: relative;
            width: 20rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 3rem;
            background-color: var(--white-color);
            color: var(--black-color);
            text-align: start;
            margin-bottom: 1rem;

        }

    }

    .right-2{
        position: absolute;
        top: calc(50% + 6rem);
        right: 0;

        font-size: 2rem;
        font-weight: bold;

        .top{
            position: relative;
            width: 25rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 3rem;
            background-color: var(--black-color);
            color: var(--white-color);
            text-align: start;
            margin-bottom: 1rem;

        }

    }

    .description{
        font-size: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        padding: .5rem;
        font-size: .8rem;
    }
    .description-2{
        font-size: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: .5rem;
        font-size: .8rem;

    }

    
    @media (max-width: 850px) {
        .left{
            top: 20%;
        }

        .right{
            top: 80%;
        }
    }
  }

.partner{
    @media(max-width: 850px){
        margin-top: 15rem;
    }

    @media(max-width: 560px){
        margin-top: 30rem;
    }
    position: relative;
    margin-top: 10rem;
    .hero-img-wrapper{
        min-width: 90rem;
        img{
            width: 100%;
            height: 100%;
            opacity: .8;
        }
    }

    .info{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1{
            border-bottom: 5px solid var(--primary-color);
            width: fit-content;
            margin: 0 auto;
            font-size: 2rem;
        }
    }

    .logo-top, .logo-bottom {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
    
    .logo-top img, .logo-bottom img {
        width: 8rem;
        height: 8rem;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
    


}
.asphalt-form {
    position: relative;

    .hero-img-wrapper {
        min-width: 90rem;
        img {
            width: 100%;
            height: 100%;
            opacity: .5;
        }
    }

    .info {
        @media (min-width: 650px) {
            top: 45rem;
        }
        position: absolute;
        top: 40rem;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
            font-family: "Sarpanch";
        }

        .green {
            color: var(--secondary-color);
        }

        .red {
            color: var(--primary-color);
        }

        form {
            border: 2px solid var(--white-color);
            padding: 1rem;
            max-width: 30rem;
            border-radius: 5px;

            .form-input {
                input {
                    height: 2rem;
                    width: 100%;
                    padding: .5rem;
                }
            }

            .top {
                margin-bottom: 1rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1rem;
            }

            .top-2 {
                margin-bottom: 1rem;
                .input-group {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .radio-input {
                        display: flex;
                    }
                }
            }

            .top-3 {
                margin-bottom: 1rem;

                .input-group {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 1rem;

                    input {
                        max-width: 6rem;
                    }
                }
            }

            .top-4 {
                padding-bottom: 1rem;
                border-bottom: 2px solid var(--white-color);
                margin-bottom: 1rem;
            }

            .top-5 {
                margin-bottom: 5rem;
                .yes-no {
                    display: flex;
                    gap: 1rem;
                }
            }

            button {
                display: block;
                width: fit-content;
                margin: 0 auto;
                font-size: 2rem;
                padding: .5rem 1rem;
                text-transform: uppercase;
                font-weight: bold;
                border: none;
                background-color: var(--secondary-color);
                border-radius: 5px;
            }
        }
    }
}

.error {
    color: red;
    font-size: 12px;
    display: none;
}

.animate-on-observe {
    opacity: 0;
    transition: opacity .8s ease-out, transform .8s ease-out;
}

.animate-up {
    transform: translateY(50px);
}
.animate-up.active {
    opacity: 1;
    transform: translateY(0);
}

.animate-down {
    transform: translateY(-50px);
}
.animate-down.active {
    opacity: 1;
    transform: translateY(0);
}

.animate-left {
    transform: translateX(-50px);
}
.animate-left.active {
    opacity: 1;
    transform: translateX(0);
}

.animate-right {
    transform: translateX(50px);
}
.animate-right.active {
    opacity: 1;
    transform: translateX(0);
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; // Hidden by default
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .dialog {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;

        h2 {
            margin-top: 0;
        }

        p {
            margin: 20px 0;
        }

        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #45a049;
            }
        }
    }
}
